* {
	box-sizing: border-box;
}

/* .axis path, .axis line {
	fill: none;
	stroke:	rgb(211, 211, 211);
} */

line {
	fill: none;
	stroke:	rgb(211, 211, 211);
}

path {
	fill: none;
}

/*Цифры на осях Х и Y*/
.tick text {
	fill: rgb(128, 128, 128);
	font-family: Arial, sans-serif;
	font-size: 12px;
}

/*Текст для осей Х и Y*/
.textX, .textY {
	fill: rgb(0, 0, 0);
	font-family: Arial, sans-serif;
	font-size: 24px;
	text-anchor: end;
}

/*Закрашеная область*/
.area {
	fill: rgba(144, 238, 144, 0.5);
} 

/* Контур закрашеваемой области (бордер) */
.border-line {
	stroke: rgb(0, 128, 0);
	stroke-width: 2;
}

.tests {
	width: 450px;
}