* {
	box-sizing: border-box;
}

line {
	fill: none;
	stroke:	rgb(211, 211, 211);
}

path {
	fill: none;
}

/*Ð¦Ð¸Ñ„Ñ€Ñ‹ Ð½Ð° Ð¾ÑÑÑ… Ð¥ Ð¸ Y*/
.tick text {
	fill: rgb(128, 128, 128);
	font-family: Arial, sans-serif;
	font-size: 12px;
}

/*Ð¢ÐµÐºÑÑ‚ Ð´Ð»Ñ Ð¾ÑÐµÐ¹ Ð¥ Ð¸ Y*/
.textX, .textY {
	fill: rgb(0, 0, 0);
	font-family: Arial, sans-serif;
	font-size: 24px;
}

/*Ð—Ð°ÐºÑ€Ð°ÑˆÐµÐ½Ð°Ñ Ð¾Ð±Ð»Ð°ÑÑ‚ÑŒ*/
.area {
	fill: rgba(144, 238, 144, 0.5);
} 

/* ÐšÐ¾Ð½Ñ‚ÑƒÑ€ Ð·Ð°ÐºÑ€Ð°ÑˆÐµÐ²Ð°ÐµÐ¼Ð¾Ð¹ Ð¾Ð±Ð»Ð°ÑÑ‚Ð¸ (Ð±Ð¾Ñ€Ð´ÐµÑ€) */
.border-line {
	stroke: rgb(0, 128, 0);
	stroke-width: 2;
}